---
// Import the necessary components
import MainLayout from "../layouts/MainLayout.astro";
import HeroSection from "../components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "../components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "../components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "../components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "../components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "../components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "../components/sections/misc/FAQ.astro";
import heroImage from "../images/hero-tanques.avif";
import { getFaqs, getFeatures, partnersData } from "@data";
import featureImage from "../images/tanques.avif";
import construction from "../images/card1.avif";
import tools from "../images/card2.avif";
import dashboard from "../images/card3.avif";

const faqs = getFaqs('en');
const features = getFeatures('en');

---
<MainLayout>

  <HeroSection
    title=`Tank Global<span
        class="text-blue-500 dark:text-blue-400"> Solutions</span>`
    subTitle="Solving all your tank needs. Over 20 years delivering reliable and innovative ISO tank solutions. We are your strategic partner for operations, sales, leasing, and specialized consulting."
    primaryBtn="Start Exploring"
    primaryBtnURL="/services"
    secondaryBtn="Contact Us"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Tank Global Solutions ISO tanks"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
    partners={partnersData}
  />

  <FeaturesGeneral
    title="Our Philosophy"
    subTitle="At Tank Global Solutions, we are committed to delivering true value to our clients through precision-engineered ISO tank solutions backed by efficiency and forward-thinking. Our mission is simple: to be the go-to provider of specialized tank solutions that exceed expectations and deliver peace of mind."
    src={featureImage}
    alt="products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-blue-500 dark:text-blue-400">Tank Global Solutions</span> offerings to perfectly suit your ISO tank logistics and project needs.`
    tabs={[
      {
        heading: "Specialized Expertise",
        content:
          "Rely on over 20 years of experience in ISO tank solutions. Our team of industry experts ensures precision, compliance, and efficiency in every project we handle.",
        svg: "tools",
        src: tools,
        alt: "blue and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Smart Project Management",
        content:
          "Stay in control with our seamless service workflows and proactive fleet management solutions, tailored to fit the specific logistics of ISO tanks.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "End-to-End Solutions",
        content:
          "From consulting to equipment delivery, we offer a complete range of ISO tank services. Count on us for reliable execution and long-term support.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Our Offices"
    subTitle="Tank Global Solutions has an international presence with strategically located offices across the Americas, Europe, and Asia to better serve our global clients."
    ;
    testimonials={[
      {
        content:
          "Our international network enables us to deliver efficient, customized ISO tank solutions worldwide—always with a local, customer-focused approach.",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}

    statistics={[
      {
        count: "Americas",
        description:
          "🇺🇸 United States (US) 🇲🇽 Mexico (MX) 🇬🇹 Guatemala (GT) 🇪🇨 Ecuador (EC)",
      },
      {
        count: "Europe",
        description:
          "🇳🇱 Netherlands (NL)",
      },
      {
        count: "Asia",
        description:
          "🇨🇳 China (CH) 🇯🇵 Japan (JP)",
      },

    ]}
  />


  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Request a Quote"
    subTitle="20 Years solving all your tank needs..."
    url="/contact"
  />
</MainLayout>
